# DataFrame class No 1 ,2 DataFrame

In [88]:
import pandas as pd
import numpy as np

In [18]:
#fruite list
list1 = pd.Series([12,36,12,96,25])
list2 = pd.Series([18,46,62,86])
print(list1,list2)

0    12
1    36
2    12
3    96
4    25
dtype: int64 0    18
1    46
2    62
3    86
dtype: int64

In [28]:
datafrm = {"Apples": list1,"Oranges": list2}
findatafrm =pd.DataFrame(datafrm)

print(findatafrm)

   Apples  Oranges
0      12     18.0
1      36     46.0
2      12     62.0
3      96     86.0
4      25      NaN

# CLass NO 3 DataFrame indexs

In [24]:
dicData = {
        'State of Pakistan' : [ 'Punjab','Sindh','KPK','Blochistan','Gilgit Baltistan'],
        'Population' : [220,120,90,60,12],
        'Years of Population': [2000,2004,2006,2009,2006]              
}
covFram = pd.DataFrame(dicData,index=['1st','2nd','3rd','4th','5th'])
print(covFram)

    State of Pakistan  Population  Years of Population
1st            Punjab         220                 2000
2nd             Sindh         120                 2004
3rd               KPK          90                 2006
4th        Blochistan          60                 2009
5th  Gilgit Baltistan          12                 2006

In [26]:
covFram = pd.DataFrame(dicData)
print(covFram)

  State of Pakistan  Population  Years of Population
0            Punjab         220                 2000
1             Sindh         120                 2004
2               KPK          90                 2006
3        Blochistan          60                 2009
4  Gilgit Baltistan          12                 2006

In [33]:
listof = [ 'Punjab','Sindh','KPK','Blochistan','Gilgit Baltistan']
pp = [2000,2004,2006,2009,2006] 

dicData = {
        'State of Pakistan' : listof,
        'Population' : [220,120,90,60,12],
        'Years of Population':     pp         
}
covFram = pd.DataFrame(dicData,index=['1st','2nd','3rd','4th','5th'])
print(covFram)

    State of Pakistan  Population  Years of Population
1st            Punjab         220                 2000
2nd             Sindh         120                 2004
3rd               KPK          90                 2006
4th        Blochistan          60                 2009
5th  Gilgit Baltistan          12                 2006

# Class No 4 DataFrame-.head()

In [31]:
covFram.head()

    State of Pakistan  Population  Years of Population
1st            Punjab         220                 2000
2nd             Sindh         120                 2004
3rd               KPK          90                 2006
4th        Blochistan          60                 2009
5th  Gilgit Baltistan          12                 2006

In [45]:
listof = [ 'Punjab','Sindh','KPK','Blochistan','Gilgit Baltistan']
pp = [2000,2004,2006,2009,2006] 

dicData = {
        'State of Pakistan' : listof,
        'Population' : [220,120,90,60,12],
        'Years of Population':     pp         
}
covFram = pd.DataFrame(dicData,index=['1st','2nd','3rd','4th','5th']
                       ,columns=['Population','Years of Population',
                                 'State of Pakistan'])
print(covFram)
covFram.head()

     Population  Years of Population State of Pakistan
1st         220                 2000            Punjab
2nd         120                 2004             Sindh
3rd          90                 2006               KPK
4th          60                 2009        Blochistan
5th          12                 2006  Gilgit Baltistan

     Population  Years of Population State of Pakistan
1st         220                 2000            Punjab
2nd         120                 2004             Sindh
3rd          90                 2006               KPK
4th          60                 2009        Blochistan
5th          12                 2006  Gilgit Baltistan

# Class No 5 Create the Coloums

In [48]:
covFram1 = pd.DataFrame(dicData,index=['1st','2nd','3rd','4th','5th']
                       ,columns=['Population','Years of Population',
                                 'State of Pakistan','New Prov.'])
print(covFram1)
covFram1.head()

     Population  Years of Population State of Pakistan New Prov.
1st         220                 2000            Punjab       NaN
2nd         120                 2004             Sindh       NaN
3rd          90                 2006               KPK       NaN
4th          60                 2009        Blochistan       NaN
5th          12                 2006  Gilgit Baltistan       NaN

     Population  Years of Population State of Pakistan New Prov.
1st         220                 2000            Punjab       NaN
2nd         120                 2004             Sindh       NaN
3rd          90                 2006               KPK       NaN
4th          60                 2009        Blochistan       NaN
5th          12                 2006  Gilgit Baltistan       NaN

In [50]:
covFram1.columns

Index(['Population', 'Years of Population', 'State of Pakistan', 'New Prov.'], dtype='object')

In [52]:
covFram1.index

Index(['1st', '2nd', '3rd', '4th', '5th'], dtype='object')

In [67]:
print(covFram.index)

print(covFram1.columns)

Index(['1st', '2nd', '3rd', '4th', '5th'], dtype='object')
Index(['Population', 'Years of Population', 'State of Pakistan', 'New Prov.'], dtype='object')

# Class 6 ,7 Access Data in DataFrame

In [70]:
covFram1['Population']

1st    220
2nd    120
3rd     90
4th     60
5th     12
Name: Population, dtype: int64

In [76]:
covFram['Population']

1st    220
2nd    120
3rd     90
4th     60
5th     12
Name: Population, dtype: int64

In [78]:
covFram.Population

1st    220
2nd    120
3rd     90
4th     60
5th     12
Name: Population, dtype: int64

In [83]:
print

# Class 8,9 Access Data in DataFrame

In [87]:
dicData = {
        'cl1' : [ 'Punjab','Sindh','KPK','Blochistan','Gilgit Baltistan'],
        'cl2' : [220,120,90,60,12],
        'cl3': [2000,2004,2006,2009,2006]              
}
covFram = pd.DataFrame(dicData,index=['1st','2nd','3rd','4th','5th'],columns=['cl1','cl2',
                                 'cl3','cl4'])
print(covFram)

                  cl1  cl2   cl3  cl4
1st            Punjab  220  2000  NaN
2nd             Sindh  120  2004  NaN
3rd               KPK   90  2006  NaN
4th        Blochistan   60  2009  NaN
5th  Gilgit Baltistan   12  2006  NaN

# Class No 9

In [95]:
dicData3 = {
        'cl1' : [ 'Punjab','Sindh','KPK','Blochistan','Gilgit Baltistan'],
        'cl2' : [220,120,90,60,12],
        'cl3': [2000,2004,2006,2009,2006]              
}
covFram3 = pd.DataFrame(dicData3,index=['1st','2nd','3rd','4th','5th'],columns=['cl1','cl2',
                                 'cl3','cl4'])
print (len(covFram3))
rng = np.array(6.0)
print(rng)
covFram3['cl4'] = rng
covFram3

5
6.0

                  cl1  cl2   cl3  cl4
1st            Punjab  220  2000  6.0
2nd             Sindh  120  2004  6.0
3rd               KPK   90  2006  6.0
4th        Blochistan   60  2009  6.0
5th  Gilgit Baltistan   12  2006  6.0